<%= form_for(@target) do |f| %>
  <% if @target.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@target.errors.count, "error") %> prohibited this target from being saved:</h2>

      <ul>
      <% @target.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :size => 60%>
  </div>
  <div class="field">
    <%= f.label :configuration %><br>
    <%= f.text_area :configuration, :size => "60x20" %>
  </div>
  <div class="field">
  <%= f.submit 'Save', class: "btn btn-default" %>
  <% begin %>
     <%= link_to 'Cancel', target_path(@target), class: "btn btn-default" %>
  <% rescue %>
     <%= link_to 'Cancel', targets_path, class: "btn btn-default" %>
  <% end %>
  </div>
</div>

<% end %>


