<% myclass = request.original_url.gsub(/http.*\/(customers|sites|users|provisionings|targets)(\/[a-z]*){0,1}(\/[1-9][0-9]*){0,1}$/, '\1')
    
%>
<% case request.original_url %>
<%     when /#{myclass}$|#{myclass}\/$|#{myclass}\/\#$|#{myclass}\/index.html$/ %> 
                <li class="sidebar-brand">
                        Functions
                </li>
                <li><%= link_to 'New Target', new_target_path %></li>

<%     when /#{myclass}\/[1-9][0-9]*$/ %>
                <li class="sidebar-brand">
                        Create
                </li>
                <li><%= link_to 'New Target', new_target_path %></li>
                <li class="sidebar-brand">
                        Change/Delete
                </li>
                <li><%= link_to 'Edit Target', edit_target_path(@target) %></li>
        <% if false %>
                <% if ENV["WEBPORTAL_PROVISIONINGBUTTON_VISIBLE"] == "true" %>
                <li><%= link_to 'Provision', provision_target_path(@target), method: :patch, data: { confirm: 'Are you sure?' } %></li>
                <% end %>
                <% if ENV["WEBPORTAL_SYNCHRONIZEBUTTON_VISIBLE"] == "true" %>
                <li><%= link_to 'Synchronize', synchronize_target_path(@target), method: :patch, data: { confirm: 'Are you sure?' } %></li>
                <% end %>
         <% end %>
                <li><%= link_to 'Delete Target', @target, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                <li class="sidebar-brand">
                        Show related...
                </li>
                <li><%= link_to 'Customers', target_customers_path(@target) %></li>


<% end %>     
