<% myclass = 'targets' #/customers|sites|users|provisionings|targets/.match request.original_url.to_s
   case request.original_url
       when /#{myclass}(\/?(\?.*)?)?(#)?$/
%>
                <li class="sidebar-brand">
                        Functions
                </li>
                <li><%= link_to 'New Target', new_target_path %></li>

<%     when /#{myclass}\/[1-9][0-9]*$/ %>
                <li class="sidebar-brand">
                        Create
                </li>
                <li><%= link_to 'New Target', new_target_path %></li>
                <li><%= link_to 'Add Customer', new_customer_path(target_id: @target.id) %></li>
                <li class="sidebar-brand">
                        Change/Delete
                </li>
                <li><%= link_to 'Edit Target', edit_target_path(@target) %></li>
<% if ENV["WEBPORTAL_PROVISIONINGBUTTON_TARGET_VISIBLE"] == "true" %>
                <% @provisioningobject = @target %>
		<li><%= render 'shared/provision_link.html.erb' %></li>
<% end %>
         <% if false %>
                <% if ENV["WEBPORTAL_SYNCHRONIZEBUTTON_VISIBLE"] == "true" %>
                <li><%= link_to 'Synchronize', synchronize_target_path(@target), method: :patch, data: { confirm: 'Are you sure?' } %></li>
                <% end %>
         <% end %>
                <li><%= link_to 'Delete Target', @target, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                <li class="sidebar-brand">
                        Show related...
                </li>
                <li><%= link_to 'Customers', "#{customers_path}?target_id=#{@target.id}" %></li>
                <li><%= link_to 'Sites', "#{sites_path}?target_id=#{@target.id}" %></li>
                <li><%= link_to 'Users', "#{users_path}?target_id=#{@target.id}" %></li>


<% end %>     
