<% @alwaysDropDown = true 
   inputFieldSize = 35
   placeholders = {};
   placeholders[:name] = "e.g. Thomas Müller"
   placeholders[:extension] = "e.g. 20800 (assuming extension length = 5)"
   placeholders[:givenname] = "e.g. Thomas"
   placeholders[:familyname] = "e.g. Müller"
   placeholders[:email] = "e.g. thomas.mueller@bayernmuenchen.de"
%>
<style>
select {min-width:<%= (inputFieldSize*15.75/30 + 18.2-15.75) %>em;}
</style>


<% if true %>
<%    ro = 'readonly'; rw = 'readwrite' %>
<%    @myparams = {"id"=>'none', "name"=>'none', "site_id"=>'showCustomerDropDown', "created_at"=>'none', "updated_at"=>'none', "status"=>'none', "email"=>rw, "extension"=>rw, "givenname"=>rw, "familyname"=>rw } %>
<% end %>


<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
  	 <table> 
  		<thead>
  			<th>Attribute</th>
			<th>Value	</th>
  		</thead>

  		<tbody>
  		<% ro = 'readonly'; rw = 'readwrite' %>
		<% myparams = @myparams %>
		
		<% myreadonlystyle = "background:#eee none; color:#222"  %>
		<% @user.attributes.each do |attribute| %>	
			<% if myparams[attribute[0]] == rw %>
				<tr>
			    <td><%= f.label attribute[0] %></td>
                            <% if placeholders[attribute[0].to_sym].nil? %>
                            <td><%= f.text_field attribute[0], size: inputFieldSize, autofocus: true, placeholder: attribute[0]  %></td>
                            <% else %>
                            <td><%= f.text_field attribute[0], size: inputFieldSize, autofocus: true, placeholder: "#{placeholders[attribute[0].to_sym]}"  %></td>
                            <% end %>
			    </tr>
			<% elsif myparams[attribute[0]] == 'none' %>

			<% elsif myparams[attribute[0]] == 'showCustomerDropDown' %>
				<tr>
			    <td><%= f.label attribute[0] %></td>
			    <td>
			    <% begin %>
			    	<% if @alwaysDropDown %>
			    		<%= f.select(:site_id, Site.where.not(customer_id: nil).map {|site| [site.customer.name + ": " + site.name,site.id]}, :prompt => "Select a Customer Site", :selected => @site.id) %>
			    	<% else %>
		    			<%= f.text_field attribute[0], :value => @site.id,:readonly => true, :style => myreadonlystyle %>
			    	<% end %>
			    <% rescue %>
			    	<%= f.select(:site_id, Site.where.not(customer_id: nil).map {|site| [site.customer.name + ": " + site.name,site.id]}, :prompt => "Select a Customer Site") %>
			    <% end %>		    
			    </td>
			    </tr>
			<% else # default: show as readonly %>
				<tr>
			    <td><%= f.label attribute[0] %></td>
			    <td><%= f.text_field attribute[0],:readonly => true, :style => myreadonlystyle %></td>
			    </tr>
			<% end # if %>
		<% end # each %>
			    <% if true %>
                        <tr>
			    <td><%= f.label "Provisioning Schedule#{' (ignored in synchronous mode)' unless @async}"  %></td>
			    <td>
				<%= render 'shared/form_provisioningtime.html.erb', object: @provisioningobject, f: f %>
			    </td>
                        </tr>
                <% end %>

			<tr>
				<td>
				  	<%= f.submit 'Save', class: "btn btn-default"%>
				</td>
				<td>
				  	<% begin %>
				  	<%= link_to 'Cancel', user_path(@user), class: "btn btn-default"%>
				  	<% rescue %>
				  	<%= link_to 'Cancel', users_path, class: "btn btn-default"%>
				  	<% end %>
				</td>
			</tr>
		</tbody>
	</table> 
	  
  </div>
<% end %>
