<% myclass = 'users' #/customers|sites|users|provisionings|targets/.match request.original_url.to_s
   case request.original_url
       when /#{myclass}(\/?(\?.*)?)?(#)?$/
%>
                <li class="sidebar-brand">
                        Functions
                </li>
                <li><%= link_to 'New User', new_user_path(@params) %></li>
                <% if ENV["WEBPORTAL_SYNCHRONIZEBUTTON_VISIBLE"] == "true" %>
                <li><%= link_to 'Synchronize Users', synchronize_users_path, method: :patch, data: { confirm: 'Are you sure?' } %></li>
                <% end %>
<% if ENV["WEBPORTAL_REMOVEALL_LINK_VISIBLE"] == "true" %>
                <li><%= link_to 'Clear Users Table', removeAll_users_path, method: :delete, data: { confirm: 'Are you sure? This will remove all Users from the database but it will keep the targets untouched. Data not provisioned to a target will be lost.' } %></li>
<% end %>

<%     when /#{myclass}\/[1-9][0-9]*$/ %>
                <li class="sidebar-brand">
                        Create/Delete ...
                </li>
                <li><%= link_to 'New User', new_user_path %></li>
<% @provisioningobject = @user %>
                <li><%= render 'shared/provision_link.html.erb' %></li>
                <li><%= render 'shared/destroy_link.html.erb' %></li>
                <li class="hidden"><%= link_to 'Delete User', @user, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                <% if ENV["WEBPORTAL_SYNCHRONIZEBUTTON_VISIBLE"] == "true" %>
                <li><%= link_to 'Synchronize', synchronize_user_path(@user), method: :patch, data: { confirm: 'Are you sure?' } %></li>
		<% end %>

                <li class="sidebar-brand">
                        Show related...
                </li>
                <% if false %>
                <li><%= link_to 'All Sites', sites_path %></li>
                <% end %>
                <li><%= link_to 'Users', site_users_path(@site) %></li>
                <li><%= link_to 'Provisioning Tasks', site_provisionings_path(@site) %></li>


<% end %>     
