<% 
  @allSites = Site.all
  @allCustomers = Customer.all 

  def site(user)
    #return user.site, but optimized: done with DRAM with a single SQL query per page refresh

    sitesOfUser = @allSites.select {|site| user.site_id == site.id}
    if sitesOfUser.count == 1
      sitesOfUser[0]
    else
      nil
    end
  end

  def customer(user)
    #return user.site.customer, but optimized: done with DRAM with a single SQL query per page refresh

    return nil if site(user).nil?
    customersOfUser = @allCustomers.select {|customer| site(user).customer_id == customer.id }
    if customersOfUser.count == 1
      customersOfUser[0]
    else
      nil
    end

  end
%>
<% if !@site.nil?; @customer = @site.customer; end %>
	<h1>
		Users	
	<% if !@site.nil? %>
		of Site <%= link_to @site.name, @site %>
		<% if !@customer.nil? %>
			of Customer <%= link_to @customer.name, @customer %>
		<% end %>
	<% end %>	
	</h1>

<div>
<table>
  <thead>
    <tr>
<% if false %>
      <th>Name</th>
<% end %>
      <th>Extension</th>
      	<% if @customer.nil? %>
      <th>Customer</th>
      	<% end %>
      	<% if @site.nil? %>
      <th>Site</th>
      	<% end %>
      <th>Givenname</th>
      <th>Familyname</th>
      	<% if false %>
      <th>Email</th>
      	<% end %>
      <th>Status</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
	<% if false %>
        <td><%= link_to user.name, user %></td>
	<% end %>
        <td><%= link_to user.extension, user_path(user) %></td>
        
        	<% if @customer.nil? %>
        <td>	
        	<% if !user.site_id.nil? && !site(user).customer_id.nil? %>			
        	<%= link_to customer(user).name, customer(user) %>
        	<% end %>
        </td>
        	<% end %>     	               
        
        	<% if @site.nil? %>
        <td>
        	<% if site(user).nil? %>
        	<%= link_to site(user), site(user) %>
        	<% else %>
        	<%= link_to site(user).name, site(user) %>
        	<% end %>
        </td>
        	<% end %>      	
        
        <td><%= user.givenname %></td>
        <td><%= user.familyname %></td>
        	<% if false %>
        <td><%= user.email %></td>
        	<% end %>
        <td><% user.status %>
          <% case user.status
               when /success/
                 statuscolor = "#008800"  # dark green
               when /failure/
                 statuscolor = "red"
               when /progress/
                 statuscolor = "orange"
               else
                 statuscolor = "black"
             end
          %>

          <%= 
             if site(user).nil?
               user.status + '(Warning: Site Reference missing!)'
             else
               link_to user.status, site_provisionings_path(site(user)), {:style => "color: #{statuscolor}"}
             end
           %>
        </td>
                        <% if ENV["WEBPORTAL_PROVISIONINGOBJECTS_EDIT_VISIBLE"] == "true" %>
	<td><%= link_to 'Edit', edit_user_path(user), class: "btn btn-default" %></td>
			<% end %>
			<% if ENV["WEBPORTAL_PROVISIONINGBUTTON_VISIBLE"] == "true" %>
        <td><%= link_to 'Provision', provision_user_path(user), method: :patch, class: "btn btn-default", data: { confirm: 'Are you sure?' } %></td>
			<% end %>
<%  @provisioningobject = user; %>
        <td><%= render 'shared/edit_button.html.erb' unless defined? edit_button_included
                edit_button %></td>
<% if ENV["WEBPORTAL_SYNCHRONIZEBUTTON_VISIBLE"] == "true" %>
        <td><%= link_to 'Synchronize', synchronize_user_path(user), method: :patch, class: "btn btn-default", data: { confirm: 'Are you sure?' } %></td>
<% end %>
        <td><%= render 'shared/provision_button.html.erb' unless defined? provision_button_included
                provision_button %></td>
        <td><%= render 'shared/destroy_button.html.erb' unless defined? destroy_button_included
                destroy_button %></td>

      </tr>
    <% end %>
  </tbody>
</table>



</div>
