
<% @site =  @user.site %>
<% begin %>
<% @customer = @user.site.customer %>
<% rescue %>
<% @customer = nil %>
<% end %>

	<h1>User <%= @user.name %> 
		<% if false %>
		of Site <%= link_to @user.site.name, @user.site %> of Customer <%= link_to @user.site.customer.name, @user.site.customer %>
		<% end %>		
		</h1>

<div>
  	<table>
  		<thead>
  			<th>Attribute</th>
			<th>Value	</th>
  		</thead>

  		<tbody>

		<% @user.attributes.each do |attribute| %>
			
			<% # insert customer row before site row %>
			<% if attribute[0] == 'site_id' %>
				<% if !@customer.nil? %>
					<% if !@customer.name.nil? %>		
					<tr>
						<td><%= "Customer" %></td>
						<td><%= link_to @customer.name, @customer %></td>
					</tr>
					<% else %>	
					<tr>
						<td><%= "Customer ID" %></td>
						<td><%= link_to @customer.id, @customer %></td>
					</tr>
					<% end %>			
				<% end %>
			<% end %>
			
			<tr>
			    <td><%= attribute[0] %></td>
			    <td>
			    <% begin %>
				    <% if attribute[0] == 'customer' %>
				    <%= Customer.find(attribute[1]).name unless attribute[1].nil? %>
				    <% else %>
				    <%= link_to Site.find(attribute[1]).name, Site.find(attribute[1]) unless attribute[1].nil? %>
				    <% end %>
			    <% rescue %>
			    	<span id="<%= attribute[0] %>"> 
          <% case attribute[1]
               when /success/
                 statuscolor = "#008800"  # dark green
               when /failure/
                 statuscolor = "red"
               when /progress/
                 statuscolor = "orange"
               else
                 statuscolor = "black"
             end
          %>

<% if attribute[0].to_s.match(/status/) %>
          <%= link_to @user.status, site_provisionings_path(@user.site), {:style => "color: #{statuscolor}"}%>
<% else %>
<%= attribute[1] unless attribute[1].nil? %> 
<% end %>
                                </span>
			    <% end %>
			    </td>
			</tr>
		<% end %>
			
			
		</tbody>
	</table>
	  </div>
