
<%= form_for(@provisioning) do |f| %>
  <% if @provisioning.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@provisioning.errors.count, "error") %> prohibited this provisioning from being saved:</h2>

      <ul>
      <% @provisioning.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<div>
<nav>
	<div>
		<ul>
			<li><%= f.submit 'Save', class: "btn btn-default" %></li>
			<li>
				<% begin %>
			  	<%= link_to 'Cancel', provisioning_path(@provisioning), class: "btn btn-default" %>
			  	<% rescue %>
			  	<%= link_to 'Cancel', provisionings_path, class: "btn btn-default" %>
			  	<% end %>
			</li>
		</ul>
	</div>
</nav>
</div>

<div>
  <div class="field">
    <%= f.label :action %><br>
    <%= f.text_field :action, :size => 80%>
  </div>
  <div>
    <%= f.submit, class: "btn btn-default" %>
  </div>
</div>
<% end %>
