<% myclass = /customers|sites|users|provisionings|targets/.match request.original_url.to_s
   case request.original_url
       when /#{myclass}(\/(\?.*)?)?(#)?$/
%>
                <li class="sidebar-brand">
                        Functions
                </li>
            <% if false %>
                <li><%= link_to 'New Provisioning (currently not working and not needed)', new_provisioning_path %></li>
            <% end %>

                <li><%= link_to 'Clear Table', removeAll_provisionings_path, method: :delete, data: { confirm: 'This will remove all Provisioning Tasks from the Database. Are you sure?' } %></li>
                <li><%= link_to "Delayed Jobs", "delayed_job/overview", :target => "_blank" %></li>
<%     when /#{myclass}\/[1-9][0-9]*$/ %>
                <li class="sidebar-brand">
                        Create
                </li>
                <li><%= link_to 'New Provisioning', new_provisioning_path %></li>
                <li class="sidebar-brand">
                        Change/Delete
                </li>
                <li><%= link_to 'Edit Provisioning', edit_provisioning_path(@provisioning) %></li>
                <li><%= link_to 'Delete Provisioning', @provisioning, method: :delete, data: { confirm: 'Are you sure?' } %></li>

<% end %>     
