	<h1>
	<% if @active %> Active <% end %>	
		Provisioning Tasks (latest first) 
	<% if !@site.nil? %>
		of Site <%= @site.name %>
	<% end %>
	<% if !@customer.nil? %>
		of Customer <%= @customer.name %>
	<%= link_to '(show all)', provisionings_path %>
	<% end %>	
	</h1>

<div>
<%= paginate @provisionings %>
</div>

<div>
<table>
  <thead>
    <tr>
      <th>Job ID</th>
      <th>Action</th>
      <th>Status</th>
      <th>Object</th>
      <th>Attempts</th>
      <th colspan="4"></th>
    </tr>
  </thead>
 

  <tbody>
    <% @provisionings.each do |provisioning| %>
      <tr>
        <td><%= provisioning.id %></td>
        <td><%= provisioning.action.to_s.gsub(/(assw[^=\n]*=[ ]*)([^\r]*).*$/, '\1*******') %></td>
        <td style="max-width: 500px;"><pre><%= provisioning.status.to_s.gsub(/(assw[^=\n]*=[ ]*)([^\r]*).*$/, '\1*******').match(/\A[^\n]*(\n[^\n]*){0,2}/) %></pre><span style="text-decoration: underline;"><%= link_to 'more...', provisioning %></span></td>
<% if false %>
        <td><%= errortest.status.gsub(/(assw[^=]*=[ ]*)([^\r]*).*$/, '\1*******') %></td>
<% end %>
        <td>
        
        <% @user = nil; @site = nil; @customer = nil %>       
        
        <% if @user.nil? && !provisioning.user.nil? %>
        	<% @user = provisioning.user %>
        	<% @site = @user.site %>
      	<% end %>
      	
		<% if @site.nil? && !provisioning.site.nil? %>
        	<% @site = provisioning.site %>
        	<% @customer = @site.customer %>
      	<% end %>
      	
      	<% if @customer.nil? && !provisioning.customer.nil? %>
        	<% @customer = provisioning.customer %>
      	<% end %>
      	
        
        <% if !@user.nil? %>
        	User:  <%= @user.name %>
        <% end %>
        
        <% if !@site.nil? %>
        	Site:  <%= @site.name %>
        <% end %>
        
        <% if !@customer.nil? %>
        	Customer: <%= @customer.name %>
       	<% end %>

        </td>
        <td>
        	<%= provisioning.attempts %>
        		<% if false %>
        <% if !provisioning.delayedjob.nil? %>
        
        <%= provisioning.delayedjob %>
        	<% begin %>
        	<% @job = Delayed::Job.find(provisioning.delayedjob) %>
        	<%= @job.attempts %> 
        	<% rescue %>
        	<% end %>
        	
        <% end %>
        		<% end %>	
        </td>
	<% if ENV["WEBPORTAL_PROVISIONINGTASKS_EDIT_VISIBLE"] == "true" %>
          <td><%= link_to 'Edit', edit_provisioning_path(provisioning), class: "btn btn-default" %></td>
	<% end %>
	<% if ENV["WEBPORTAL_PROVISIONINGTASKS_DESTROY_VISIBLE"] == "true" %>
          <td><%= link_to 'Destroy', provisioning, method: :delete, class: "btn btn-default", data: { confirm: 'Are you sure?' } %></td>
	<% end %>
        <% if false %>
        <td><%= link_to 'Deliver', deliver_provisioning_path(provisioning), :confirm => 'Are you sure?', :method => :post, class: "btn btn-default" %></td>
        <% end %>
        <td>
        	<% begin %>
        		<% @job = Delayed::Job.find(provisioning.delayedjob) %>
        		<%= link_to 'Stop', stop_provisioning_path(provisioning), method: :delete, class: "btn btn-default", data: { confirm: 'Are you sure?' }%>
        	<% rescue %>
        		<%= link_to 'Retry', deliver_provisioning_path(provisioning), method: :put, class: "btn btn-default", data: { confirm: 'Are you sure?'} %>
        	<% end %>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div>
<%= paginate @provisionings %>
</div>

