<h1>Provisioning <%= @provisioning.action.to_s.gsub(/(assw[^=]*=[ ]*)([^\r]*).*$/, '\1*******').match(/(Add|Delete|Update) (Customer|Site|User)/).to_s %></h1>


<%= form_for(@provisioning) do |f| %>
  <% if @provisioning.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@provisioning.errors.count, "error") %> prohibited this provisioning from being saved:</h2>

      <ul>
      <% @provisioning.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div>
<p id="notice"><%= notice %></p>
<p id="error"><%= error %></p>
<p id="success"><%= success %></p>


  	<table>
  		<thead>
  			<th>Attribute</th>
			<th>Value	</th>
  		</thead>

  		<tbody>

			<% @provisioning.attributes.each do |attribute| %> 
			<tr>
			    <td><%= f.label attribute[0] %></td>
			    <td>
			    <% begin %>
			    <%= Customer.find(attribute[1]).action.to_s.gsub(/(assw[^=]*=[ ]*)([^\r]*).*$/, '\1*******') unless attribute[1].nil? %>
			    <% rescue %>
			    <%= attribute[1].to_s.gsub(/(assw[^=]*=[ ]*)([^\r]*).*$/, '\1*******') unless attribute[1].nil? %>
			    <% end %>
			    </td>
			</tr>
			<% end %>
			
			
		</tbody>
	</table>
	  </div>
<% end %>


