<% @alwaysDropDown = true 
   inputFieldSize = 55
   placeholders = {};
   placeholders[:name] = "e.g. Unify"
%>
<% minWidthStyle = "min-width: #{(inputFieldSize*15.75/30 + 18.2-15.75)}em;"  %>
<% myreadonlystyle = "#{minWidthStyle} background:#eee none; color:#222;}"  %>
<style>
select {<%= minWidthStyle %>}
</style>

<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved</h2>

    </div>
  <% end %>
  
  <div>

</div>

  <div>
  	 <table> 
  		<thead>
  			<th>Attribute</th>
			<th>Value	</th>
  		</thead>

  		<tbody>
  		<% ro = 'readonly'; rw = 'readwrite' %>
		<% myparams = @myparams %>
		<% myparams['target_id']%>
		<% @customer.attributes.each do |attribute| %> 
			<tr>
			<% if myparams[attribute[0]] == rw %>
			    <td><%= f.label attribute[0] %></td>
		            <% if placeholders[attribute[0].to_sym].nil? %>
                            <td><%= f.text_field attribute[0], size: inputFieldSize, autofocus: true, placeholder: attribute[0]  %></td>
                            <% else %>
                            <td><%= f.text_field attribute[0], size: inputFieldSize, autofocus: true, placeholder: "#{placeholders[attribute[0].to_sym]}"  %></td>
                            <% end %>
	 		<% elsif myparams[attribute[0]] == ro %>
			    <td><%= f.label attribute[0] %></td>
			    <td><%= f.text_field attribute[0],:readonly => true, :style => myreadonlystyle %></td>
		 	<% elsif myparams[attribute[0]] == 'showTargetDropDown' %>
			    <td><%= f.label attribute[0] %></td>
			    <td>
			    <% selected = @parent.id unless @parent.nil? %>
			    <%= f.select(:target_id, Target.all.map {|target| 
			    	targetname_or_id = ( !target.nil? && target.name.to_s != "") ? target.name : target_id.to_s
			    	#raise targetname.inspect
			    	[targetname_or_id, target.id]}, :prompt => "Select a Target", selected: selected) %>	    			    		    
			    </td>

			<% elsif myparams[attribute[0]] == 'showLanguageDropDown' %>
			    <td><%= f.label attribute[0] %></td>
			    <td>
			    	<% selected = @provisioningobject.language %>
				<%= f.select(:language, Customer::LANGUAGES.map {|language| [language,language]}, :prompt => "Select the customer main language", selected: selected) %>
			    </td>
		 	<% end %>
<% if true %>
<% if @customer.errors[attribute[0]].any? %>
			    <td>
    <div id="error_explanation">
      <% @customer.errors[attribute[0]].each do |errormessage| %>
      <li><%= "#{attribute[0].capitalize} #{errormessage}" %></li>
      <% end %>
    </div>
                            </td>
  <% end %>
<% end %>
			</tr>
			<% end %>
			    <% if true %>
                        <tr>
			    <td><%= f.label "Provisioning Schedule#{' (ignored in synchronous mode)' unless @async}"  %></td>
			    <td>
				<%= render 'shared/form_provisioningtime.html.erb', object: @provisioningobject, f: f %>
			    </td>
                        </tr>
                <% end %>
			<tr>
				<td>
				  	<%= f.submit 'Save', type: "submit", class: "btn btn-default" %>
				</td>
				<td>
				  	<% begin %>
				  	<%= link_to 'Cancel', customer_path(@customer), class: "btn btn-default"  %>
				  	<% rescue %>
				  	<%= link_to 'Cancel', customers_path, role: "button", class: "btn btn-default" %>
				  	<% end %>
				</td>
			</tr>
		</tbody>
	</table> 
	  
  </div>
<% end %>
