<% myclass = /customers|sites|users|provisionings|targets/.match request.original_url.to_s
   case request.original_url
       when /#{myclass}(\/(\?.*)?)?(#)?$/
%>
                <li class="sidebar-brand">
                        Customer Functions
                </li>
                <li><%= link_to 'New Customer', new_customer_path %></li>
                <% if ENV["WEBPORTAL_SYNCHRONIZEBUTTON_VISIBLE"] == "true" %>
                <li><%= link_to 'Synchronize Customers', synchronize_customers_path, method: :patch, data: { confirm: 'Are you sure?' } %></li>
                <% end %>
                <li><%= link_to 'Clear Customers Table', removeAll_customers_path, method: :delete, data: { confirm: 'Are you sure? This will remove all Customers from the database but it will keep the targets untouched. Data not provisioned to a target will be lost.' } %></li>

<% if false %>
                <li><%= link_to 'Clear Table', removeAll_customers_path, method: :delete, data: { confirm: 'This will remove recursively all entries from the database (withou de-provisioning from the target system). Are you sure?' } %></li>
<% end %>
<%     when /customers\/[1-9][0-9]*$/ %>
                <li class="sidebar-brand">
                        Create/Delete ...
                </li>
                <li><%= link_to 'New Customer', new_customer_path %></li>
                <li><%= link_to 'Add Site', new_customer_site_path(@customer) %></li>
<% @provisioningobject = @customer %>
		<li><%= render 'shared/provision_link.html.erb' %></li>
                <% if ENV["WEBPORTAL_SYNCHRONIZEBUTTON_VISIBLE"] == "true" %>
                <li><%= link_to 'Synchronize', synchronize_customer_path(@customer), method: :patch, data: { confirm: 'Are you sure?' } %></li>
                <% end %>
		<li><%= render 'shared/destroy_link.html.erb' %></li>
                <li class="hidden"><%= link_to 'Delete Customer', @customer, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                <li class="sidebar-brand">
                        Show related ...
                </li>
                <li><%= link_to "Sites", customer_sites_path(customer = @customer) %></li>
                <li><%= link_to 'Users', customer_users_path(@customer) %></li>
                <li><%= link_to 'Provisioning Tasks', customer_provisionings_path(@customer) %></li>


<% end %>     
