<h1>Customers</h1>

<div>
	
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Target</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>

    <% @customers.each do |customer| %>
      <tr>
      	<% begin %>
      	<% @target = Target.find(customer.target_id) %>
      	<% rescue %>
      	<% end %>
        <td><%= customer.id %></td>
        <td><%= link_to customer.name, customer %></td>
        <td>
		<% begin %>
        <%= link_to @target.name, @target %>
		<% rescue %>
      	<% end %>
        </td>
        <td>
          <% case customer.status
               when /success/  
                 statuscolor = "#008800"  # dark green
               when /failure/
                 statuscolor = "red"
               when /progress/
                 statuscolor = "orange"
               else
                 statuscolor = "black"
             end
          %>
   
          <%= link_to customer.status, customer_provisionings_path(customer), {:style => "color: #{statuscolor}"}%>
       </td>

        <%  @provisioningobject = customer; %>
	<td><%= render 'shared/edit_button.html.erb' %></td>
<% if ENV["WEBPORTAL_SYNCHRONIZEBUTTON_VISIBLE"] == "true" %>
        <td><%= link_to 'Synchronize', synchronize_customer_path(customer), method: :patch, class: "btn btn-default", data: { confirm: 'Are you sure?' } %></td>
<% end %>
 	<td><%= render 'shared/provision_button.html.erb' %></td>
 	<td><%= render 'shared/destroy_button.html.erb' %></td>
      </tr>
    <% end %>
    <% if true %>
  </tbody>
  <% end %>
</table>
</div>

