<h1>Customers</h1>
<style>
.btn { min-width:8.5em; background-color:white; color:#444444 ; }
</style>

<div>
	
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Target</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>

    <% @customers.each do |customer| %>
      <tr>
      	<% begin %>
      	<% @target = Target.find(customer.target_id) %>
      	<% rescue %>
      	<% end %>
        <td><%= customer.id %></td>
        <td><%= link_to customer.name, customer %></td>
        <td>
		<% begin %>
        <%= link_to @target.name, @target %>
		<% rescue %>
      	<% end %>
        </td>
        <td>
          <% case customer.status
               when /success/  
                 statuscolor = "#008800"  # dark green
               when /failure/
                 statuscolor = "red"
               when /progress/
                 statuscolor = "orange"
               else
                 statuscolor = "black"
             end
          %>
   
          <%= link_to customer.status, customer_provisionings_path(customer), {:style => "color: #{statuscolor}"}%>
       </td>

      <% if true %>
        <%= @provisioningobject = customer; 
	    render 'shared/edit_button.html.erb' %>
        <% if customer.provisioned? %>
           <td><%= link_to 'De-Provision', customer, method: :delete, class: "btn btn-warning", data: { confirm: 'Are you sure? This will de-provision the customers from the target system, including all related children (sites, users).' } %></td>
        <% else %>
           <td><%= link_to 'Provision', provision_customer_path(customer), method: :patch, class: "btn btn-warning", data: { confirm: 'Are you sure?' }  %></td>
        <% end %>
 <%= @provisioningobject = customer;
            render 'shared/destroy_button.html.erb' %>
      <% else %>
        <td></td>
        <td></td>
        <td></td>
      <% end %>
        <% if false %>
        <td><%= link_to "Provision to OSV", provisionings_path(customer), :confirm => 'Are you sure?', :action => :deliver, :method => :post %></td>
        <% end %>
      </tr>
    <% end %>
    <% if true %>
  </tbody>
  <% end %>
</table>
</div>

