<%
  @allTargets = Target.all
  @allCustomers = Customer.all
 
  def target(customer)
    #return customer.target in a SQL optimized fashion: only one SQL request needed

    targetsOfCustomer = @allTargets.select {|target| customer.target_id == target.id}
    if targetsOfCustomer.count == 1
      targetsOfCustomer[0]
    else
      abort "Did not find target of this customer=#{customer.inspect}"
    end
  end
%>
<h1>Customers</h1>
<div>
<%= paginate @provisioningobjects %>
</div>


<div>
	
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Target</th>
      <th>Status</th>
      <th colspan="10"></th>
    </tr>
  </thead>
  <tbody>

    <% @provisioningobjects.each do |customer| %>
      <tr>
      	<% @target = target(customer) %>
        <td><%= customer.id %></td>
        <td><%= link_to customer.name, customer %></td>
        <td>
		<% begin %>
        <%= link_to @target.name, @target %>
		<% rescue %>
      	<% end %>
        </td>
        <td>
          <% case customer.status
               when /success/  
                 statuscolor = "#008800"  # dark green
               when /failure/
                 statuscolor = "red"
               when /progress/
                 statuscolor = "orange"
               else
                 statuscolor = "black"
             end
          %>
   
          <%= link_to customer.status, customer_provisionings_path(customer), {:style => "color: #{statuscolor}"}%>
       </td>

        <%  @provisioningobject = customer %>
        <td><%= render 'shared/edit_button.html.erb' unless defined? edit_button_included
                edit_button %></td>
<% if ENV["WEBPORTAL_SYNCHRONIZEBUTTON_VISIBLE"] == "true" %>
        <td><%= link_to 'Synchronize', synchronize_customer_path(customer), method: :patch, class: "btn btn-default", data: { confirm: 'Are you sure?' } %></td>
<% end %>
        <td><%= render 'shared/provision_button.html.erb' unless defined? provision_button_included
                provision_button %></td>
        <td><%= render 'shared/destroy_button.html.erb' unless defined? destroy_button_included
                destroy_button %></td>

      </tr>
    <% end %>
    <% if true %>
  </tbody>
  <% end %>
</table>
</div>

<div>
<%= paginate @provisioningobjects %>
</div>

