<h1>Customer <%= @customer.name %></h1>


<div>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Customer</th>
      <th>Target/Site</th>
<% if false %>
      <th>Language</th>
<% end %>
      <th>Status</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @customer.id %></td>
        <td><%= @customer.name %></td>
        <td>
        	<% begin %>
        	<%= target = Target.find(@customer.target_id)
                    link_to target.name, target %>
        	<% rescue %>
        	[id] <%= @customer.target_id %>
        	<% end %>
        </td>
<% if false %>
        <td><%= @customer.language %></td>
<% end %>
        <td>
	   <span id="<%= "status" %>">
          <% case @customer.status
               when /success/
                 statuscolor = "#008800"  # dark green
               when /failure/
                 statuscolor = "red"
               when /progress/
                 statuscolor = "orange"
               else
                 statuscolor = "black"
             end
          %>

          <%= link_to @customer.status, customer_provisionings_path(@customer), {:style => "color: #{statuscolor}"}%>
           </span>
        </td>
                        <% if ENV["WEBPORTAL_PROVISIONINGOBJECTS_EDIT_VISIBLE"] == "true" %>
        <td><%= link_to 'Edit', edit_customer_path(@customer), class: "btn btn-default" %></td>
			<% end %>
<%  @provisioningobject = @customer; %>
        <td><%= render 'shared/edit_button.html.erb' 
                edit_button
            %></td>
			<% if ENV["WEBPORTAL_SYNCHRONIZEBUTTON_VISIBLE"] == "true" %>
  <td><%= link_to 'Synchronize', synchronize_customer_path(@customer), method: :patch, class: "btn btn-default", data: { confirm: 'Are you sure?' }%></td>
			<% end %>
        <td><%= render 'shared/provision_button.html.erb' 
                provision_button
            %></td>
        <td><%= render 'shared/destroy_button.html.erb' 
                destroy_button
            %></td>

      </tr>
      <%= render @customer.sites %>
  </tbody>
</table>
</div>



<br>


<% if false %>
####### same as:
| <%= link_to "Sites of this Customer", customer_sites_path(customer_id = @customer.id) %> 
####### same as:
|
<%= link_to "Sites of this Customer", { :controller => 'sites', :action => 'index', :customer_id => customer.id } %>
<% end %>
