<% @alwaysDropDown = true %>

<%= form_for(@resourcepool) do |f| %>
  <% if @resourcepool.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resourcepool.errors.count, "error") %> prohibited this resourcepool from being saved:</h2>

      <ul>
      <% @resourcepool.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<div>
<nav>
	<div class="actions">
		<ul>
			<li><%= f.submit 'Save', class: "action-button" %></li>
			<li>
				<% begin %>
			  	<%= link_to 'Cancel', resourcepool_path(@resourcepool) %>
			  	<% rescue %>
			  	<%= link_to 'Cancel', resourcepools_path %>
			  	<% end %>
			</li>
		</ul>
	</div>
</nav>
</div>

<div class="index">
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :resource %><br>
    <%= f.text_field :resource %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
