
<div class="view">
	<h2>
		Resource Pools	
	</h2>
</div>

<div>
<nav>
	<div class="actions">
		<ul>
			<li><%= link_to 'New Resource Pool', new_resourcepool_path %></li>
		</ul>
	</div>
</nav>
</div>

<div class="view">
<p id="notice"><%= notice %></p>
</div>

<div class="index" >
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Resource</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resourcepools.each do |resourcepool| %>
      <tr>
        <td><%= resourcepool.name %></td>
        <td><%= resourcepool.resource %></td>
        <td class="actions"><%= link_to 'Show', resourcepool %></td>
        <td class="actions"><%= link_to 'Edit', edit_resourcepool_path(resourcepool) %></td>
        <td class="actions"><%= link_to 'Destroy', resourcepool, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
