<% if false %>
<% myreadonlystyle = "background:#eee none; color:#222; font-style: italic"  %>
<% else %>
<% myreadonlystyle = "background:#eee none; color:#222"  %>
<% end %>


<h1>Site Data</h1>
<p id="notice"><%= notice %></p>
<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Sites', sites_path %>

<%= form_for(@site) do |f| %>
  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% @site.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if false %>
  <div class="CSSTableGenerator">
<% end %>
  <div class="changes view">
  
  	<dl>
			<% @site.attributes.each do |attribute| %>
			    <dt>
			    	<%= f.label attribute[0] %>
			    </dt>
			    <dd>
			    	<%= f.label attribute[1] unless attribute[1].nil? %> &nbsp; 
			    </dd>
			    <% if false %>
			    <dd>
			    	<%= f.text_field key,:readonly => true, :style => myreadonlystyle %> &nbsp; 
			    </dd>
			    <% end %>
			<% end %>
	</dl>
	  </div>
<% end %>


