<% @alwaysDropDown = true 
   inputFieldSize = 35
   placeholders = {};
   placeholders[:name] = "e.g. Munich" 
   placeholders[:areacode] = "e.g. 89 for Munich"
   placeholders[:localofficecode] = "e.g. 7007"
   placeholders[:extensionlength] = "e.g. 5"
   placeholders[:mainextension] = "e.g. 10000, if #{:extensionlength} = 5"
   #placeholders[:gatewayIP] = "e.g. 10.1.1.1 or gateway.domain.com (optional)"
   placeholders[:gatewayIP] = "e.g. 10.1.1.1 (optional)"
%>
<style>
select {min-width:<%= inputFieldSize*15.75/30 + 18.2 - 15.75 %>em;}
</style>


<%= form_for(@site) do |f| %>

  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% @site.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  		

  <div>
  	 <table> 
  		<thead>
  			<th>Attribute</th>
			<th>Value	</th>
  		</thead>

  		<tbody>
  		<% ro = 'readonly'; rw = 'readwrite' %>
		<% myparams = @myparams %>
		<% myreadonlystyle = "background:#eee none; color:#222"  %>
		<% @site.attributes.each do |attribute| %> 				
			<% if myparams[attribute[0]] == rw %>
				<tr>
			    <td><%= f.label attribute[0] %></td>
                            <% if placeholders[attribute[0].to_sym].nil? %>
			    <td><%= f.text_field attribute[0], size: inputFieldSize, autofocus: true, placeholder: attribute[0]  %></td>
                            <% else %>
			    <td><%= f.text_field attribute[0], size: inputFieldSize, autofocus: true, placeholder: "#{placeholders[attribute[0].to_sym]}"  %></td>
                            <% end %>
			    </tr>
			<% elsif myparams[attribute[0]] == 'none' %>

			<% elsif myparams[attribute[0]] == 'showCustomerDropDown' %>
				<tr>
			    <td><%= f.label attribute[0] %></td>
			    <td>
			    <% begin %>
			    	<% if @alwaysDropDown %>
			    		<%= f.select(:customer_id, Customer.all.map {|customer| [customer.name,customer.id]}, {:prompt => "Select a #{:customer}", :selected => @customer.id} ) %>
			    	<% else %>
		    			<%= f.text_field attribute[0], size: inputFieldSize, :value => @customer.id,:readonly => true, :style => myreadonlystyle %>
			    	<% end %>
			    <% rescue %>
			    	<%= f.select(:customer_id, Customer.all.map {|customer| [customer.name,customer.id]}, size: inputFieldSize, :prompt => "Select a #{:customer}") %>
			    <% end %>		    
			    </td>
			    </tr>
                        <% elsif myparams[attribute[0]] == 'showDropDown' %>
                                <tr>
                            <td><%= f.label attribute[0] %></td>
			    <td><%= f.select(attribute[0], Provisioningobject::LIST[attribute[0].to_sym].map {|countrycode| [countrycode,countrycode]}, size: inputFieldSize, :prompt => "Select a #{:countrycode}") %></td>
                            </tr>
			<% else # default: show as readonly %>
				<tr>
			    <td><%= f.label attribute[0] %></td>
			    <td><%= f.text_field attribute[0], size: inputFieldSize, :readonly => true, :style => myreadonlystyle %></td>
			    </tr>
			<% end # if %>
		<% end # each %>
			    <% if true %>
                        <tr>
			    <td><%= f.label "Provisioning Schedule#{' (ignored in synchronous mode)' unless @async}"  %></td>
			    <td>

				<%= render 'shared/form_provisioningtime.html.erb', object: @provisioningobject, f: f %>
			    </td>
                        </tr>
                <% end %>
			<tr>
				<td>
				  	<%= f.submit 'Save', class: "btn btn-default"%>
				</td>
				<td>
				  	<% begin %>
				  	<%= link_to 'Cancel', site_path(@site), class: "btn btn-default" %>
				  	<% rescue %>
				  	<%= link_to 'Cancel', sites_path, class: "btn btn-default" %>
				  	<% end %>
				</td>
			</tr>
		</tbody>
	</table> 
	  
  </div>
<% end %>
