<% myclass = request.original_url.gsub(/http.*\/(customers|sites|users|provisionings|targets)(\/[a-z]*){0,1}(\/[1-9][0-9]*){0,1}$/, '\1')
    
%>
<% case request.original_url %>
<%     when /#{myclass}$|#{myclass}\/$|#{myclass}\/\#$|#{myclass}\/index.html$/ %> 
                <li class="sidebar-brand">
                        Functions
                </li>
                <% if @customer.nil? %>
                <li><%= link_to 'New Site', new_site_path %></li>
                <% else %>
                <li><%= link_to 'New Site', new_customer_site_path(@customer) %></li>
                <% end %>
                <% if ENV["WEBPORTAL_SYNCHRONIZEBUTTON_VISIBLE"] == "true" %>
                <li><%= link_to 'Synchronize Sites', synchronize_sites_path, method: :patch, data: { confirm: 'Are you sure?' } %></li>
                <% end %>
                <li><%= link_to 'Clear Sites Table', removeAll_sites_path, method: :delete, data: { confirm: 'Are you sure? This will remove all Sites from the database but it will keep the targets untouched. Data not provisioned to a target will be lost.' } %></li>


<%     when /#{myclass}\/[1-9][0-9]*$/ %>
                <li class="sidebar-brand">
                        Create/Delete...
                </li>
                <li><%= link_to 'New Site', new_site_path %></li>
                <li><%= link_to 'New User', new_site_user_path(@site) %></li>
                <% if ENV["WEBPORTAL_PROVISIONINGOBJECTS_EDIT_VISIBLE"] == "true" %>
                <li><%= link_to 'Edit Site', edit_site_path(@site) %></li>
                <% end %>
                <% if ENV["WEBPORTAL_PROVISIONINGBUTTON_VISIBLE"] == "true" %>
                <li><%= link_to 'Provision', provision_site_path(@site), method: :patch, data: { confirm: 'Are you sure?' } %></li>
                <% end %>
                <% if ENV["WEBPORTAL_SYNCHRONIZEBUTTON_VISIBLE"] == "true" %>
                <li><%= link_to 'Synchronize', synchronize_site_path(@site), method: :patch, data: { confirm: 'Are you sure?' } %></li>
                <% end %>
<% @provisioningobject = @site %>
                <li><%= render 'shared/provision_link.html.erb' %></li>
                <li><%= render 'shared/destroy_link.html.erb' %></li>
                <li class="hidden"><%= link_to 'Delete Site', @site, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                <li class="sidebar-brand">
                        Show related...
                </li>
                <% if false %>
                <li><%= link_to 'All Sites', sites_path %></li>
                <% end %>
                <li><%= link_to 'Users', site_users_path(@site) %></li>
                <li><%= link_to 'Provisioning Tasks', site_provisionings_path(@site) %></li>


<% end %>     
