<tr>
  <td colspan="2"></td>
  <td><%= link_to site.name, site %></td>
  <% if site.status.nil? %>
    <td></td>
  <% else %>
    <td>
      <span id="<%= "site_" + site.id.to_s %>">
          <% case site.status
               when /success/
                 statuscolor = "#008800"  # dark green
               when /failure/
                 statuscolor = "red"
               when /progress/
                 statuscolor = "orange"
               else
                 statuscolor = "black"
             end
          %>

          <%= link_to site.status, site_provisionings_path(site), {:style => "color: #{statuscolor}"}%>
        <% link_to site.status, site_provisionings_path(site) %>
      </span>
    </td>
  <% end %>
<%  @provisioningobject = site; %>
        <td><%= render 'shared/edit_button.html.erb' 
                edit_button
            %></td>
			<% if ENV["WEBPORTAL_SYNCHRONIZEBUTTON_VISIBLE"] == "true" %>
  <td><%= link_to 'Synchronize', synchronize_site_path(site), method: :patch, class: "btn btn-default", data: { confirm: 'Are you sure?' }%></td>
			<% end %>
        <td><%= render 'shared/provision_button.html.erb' 
                provision_button
            %></td>
        <td><%= render 'shared/destroy_button.html.erb' 
                destroy_button
            %></td>
</tr>


