<% maintenance = false %>
<!DOCTYPE html>
<html>
<head>
  <title>ProvisioningPortalv4</title>
  <%= stylesheet_link_tag "main" %>
<% if true # turbolinks?  ; how to remove turbolinks, see: http://blog.steveklabnik.com/posts/2013-06-25-removing-turbolinks-from-rails-4 %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<% else %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
<% end %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
  </script>
  <![endif]-->
  <!-- needed for browser lt IE 9: -->
  <%= respond_include_tags %>
  
</head>

<!-- on unload trick found on http://stackoverflow.com/questions/158319/cross-browser-onload-event-and-the-back-button, but it does not seem to work for chrome (still using the local cache upon back/forward button)  -->
<body onunload="">
<% if maintenance == true %>
<h1 style="color:red"> ************** Do not use *** MAINTENANCE ************* <h1>
<% end %>



<% if true %>
<% theme = "inverse" %>
<% if theme == "default" %>
<header class="navbar navbar-fixed-top navbar-default">
<% else %>
<header class="navbar navbar-fixed-top navbar-inverse">
<% end %>
      <div class="container">
      <div style="height: 40px; margin=50px">
<% if theme == "default" %>
      <%= image_tag("ProvisioningEngine_Harmony_Sans_green_and_grey_with_new_darkgrey_ico_388x50.png", :alt => "ProvisioningEngine", title: "ProvisioningEngine", id: "logo" , size: "292x40")%>
<% else %>
      <%= image_tag("ProvisioningEngine_Harmony_Sans_white_and_green_transparent_365x50.gif", :alt => "ProvisioningEngine", title: "ProvisioningEngine", id: "logo" , size: "292x40")%>
        
<% end %>
      </div>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <span id="flash">
            <p id="notice" style="background-color: white;"><%= notice %></p>
            <p id="error" style="background-color: white;"><%= error %></p>
            <p id="success" style="background-color: white;"><%= success %></p>
            </span>
    <%  if false # since there are no functions behind, let us hide those links for now %>
            <li><%= link_to "Home",   '#' %></li>
            <li><%= link_to "Help",   '#' %></li>
            <li><%= link_to "Log in", '#' %></li>
    <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-left">
            <li><%= link_to "Customers",   :customers %></li>
            <li><%= link_to "Sites",   :sites %></li>
            <li><%= link_to "Users", :users %></li>
            <li><%= link_to "Provisioning Tasks", :provisionings %></li>
            <li><%= link_to "Targets", :targets %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div id="main-container" class="container-fluid">
      <div class="row">
 <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper" >
            <ul class="sidebar-nav">

                <%= render "sidebar" %>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
<!--
                      <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
--> 
                      <%= yield %>
                      <% if false # for the moment, not active (until migrated from development to production... %> 
                      <% unless Rails.env.production? %>
                        <h4 style="color:blue; background-color:white; position:fixed; bottom:0px;"> ************** environment = <%= Rails.env %> ************* </h4>
                      <% end %>
                      <% end %>
                      <% if ENV["WEBPORTAL_SIMULATION_MODE"] == "true" %>
                        <h4 style="color:blue; background-color:white; position:fixed; bottom:20px;"> ************** running in simulation mode ************* </h4>
                      <% end %>
                      <!--[if lt IE 9]>
  <h4 style="color:red; background-color:lightgrey; position:fixed; padding:20px; bottom:0px;"> This page does not display correctly on Internet Explorer 8 or below! Recommended: Firefox or Chrome (best tested) </h1>
  
  <![endif]-->


                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
<!--
        <div id="sidebar" class="col-xs-2">
sidebar content
        </div>
        <div id="main-content" class="col-xs-9">
main content
        </div>
-->

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

      </div>
    </div>
<% end %>
<% if false %>
<div>
    <% if javascript_enabled? # Selenium::WebDriver::Remote::Capabilities#javascript_enabled? %>
    <p>Javascript Enabled!</p>
    <%- else -%>
    <p>No Javascript</p>
    <%- end -%>
</div>	
<% end %>

<% if false %>
<% @mymenue = [:customers, :sites, :users, :provisionings, :targets] %>

<%  # is the link an index?  
    isindex = @mymenue.find { |menueitem| /#{menueitem.to_s}\Z/.match(request.original_url) } 
    isindexBool = !isindex.nil?
%>
<%  # is the link a show page?
    isshow = @mymenue.find { |menueitem| /#{menueitem.to_s}\/[1-9][0-9]*\Z/.match(request.original_url) }
    isshowBool = !isshow.nil?
%>

<% if false # this is now done by "app/assets/javascripts/page_reload.js" %>
<script>
<% if isindexBool || isshowBool %>
      if (window.myRefresh != null) {
        clearTimeout(window.myRefresh);
      }
      window.myRefresh = setTimeout("location.reload(true);",10000000);
      //alert(window.myRefresh);
<% else %>
      if (window.myRefresh != null) {
        clearTimeout(window.myRefresh);
      }
      //alert(window.myRefresh);
      window.myRefresh = null;
<% end %>
</script>
<% end %>
<div style="height: 50px;">
<%= image_tag("ProvisioningEngine_Harmony_Sans_green_and_grey_with_new_darkgrey_ico_388x50.png", :alt => "ProvisioningEngine", title: "ProvisioningEngine") %>
<% if false %>
<FONT STYLE="margin: -50px 0px 10px 10px;font-family:'Harmony Sans','Trebuchet MS', Helvetica, sans-serif; font-size: 32pt;"><span style="color:#88c540;">Provisioning</span><span style="color:#666666;">Engine</span></FONT>
<% end %>
</div>
	
<ul class="semiopaquemenu">
	<% @mymenue.each do |menueitem| %>
		<% if controller_name == menueitem.to_s || controller_name[1..-1] == menueitem %>
	<li class="active"> <%= link_to menueitem.capitalize, menueitem %></li>|
		<% else %>
	<li>				<%= link_to menueitem.capitalize, menueitem %></li>|
		<% end %>
	
	<% end %>
</ul>

<% if false %>
	<ul class="semiopaquemenu">
		<% if controller_name == 'customers' || controller_name == 'customer'%>
		<li class="active">
		<% else %>
		<li>
		<% end %>
			<%= link_to 'Customers', customers_path %></li>|
			
		<% if controller_name == 'sites' || controller_name == 'site'%>
		<li class="active">
		<% else %>
		<li>
		<% end %>
			<%= link_to 'Sites', sites_path %></li>|
			
		<% if controller_name == 'users' || controller_name == 'user'%>
		<li class="active">
		<% else %>
		<li>
		<% end %>
		<%= link_to 'Users', users_path %></li>|
		
		<% if controller_name == 'provisionings' || controller_name == 'provisioning'%>
		<li class="active">
		<% else %>
		<li>
		<% end %>
			<%= link_to 'Provisioning Tasks', provisionings_path %></li>|
			
		<% if controller_name == 'resourcespools' || controller_name == 'resourcepools'%>
		<li class="active">
		<% else %>
		<li>
		<% end %>
			<%= link_to 'Resource Pools', resourcepools_path %></li>|
	</ul>
<% end%>
<br />


				

<%= yield %>

<% end %>

<% if true %>
<span id="noscriptmessage" onload="document.getElementById('noscriptmessage').hide();">
<div style="color:red; margin-top:10px; background-color:lightgrey; position:fixed; top: 50%; left: 270px;" >
   <h4>This site requires javascript enabled! Please enable javascript and disable any script blocker for this site!</h4>
</div>
</span>

<script>
// remvove the mynoscript alert, if javascript is enabled
// <noscript> ALERT! </noscript> does not work in case of a script blocker like scriptSafe.
// the deployed method works also in case of a script blocker
document.getElementById("noscriptmessage").innerHTML="";
</script>
<% end %>


</body>
</html>
