<!DOCTYPE html>
<html>
<head>
  <title>ProvisioningPortalv4</title>
  <%= stylesheet_link_tag "main" %>
<% if true # turbolinks?  ; how to remove turbolinks, see: http://blog.steveklabnik.com/posts/2013-06-25-removing-turbolinks-from-rails-4 %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<% else %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
<% end %>
  <%= csrf_meta_tags %>
</head>
<body>

<span id="noscriptmessage">
<div style="color:red">
   This site requires javascript enabled! Please enable javascript and disable any script blocker for this site!
</div>
</span>

<script>
// remvove the mynoscript alert, if javascript is enabled
// <noscript> ALERT! </noscript> does not work in case of a script blocker like scriptSafe.
// the deployed method works also in case of a script blocker
document.getElementById("noscriptmessage").innerHTML="";
</script>

<% if false %>
<div>
    <% if javascript_enabled? # Selenium::WebDriver::Remote::Capabilities#javascript_enabled? %>
    <p>Javascript Enabled!</p>
    <%- else -%>
    <p>No Javascript</p>
    <%- end -%>
</div>	
<% end %>

<% @mymenue = [:customers, :sites, :users, :provisionings, :targets] %>

<%  # is the link an index?  
    isindex = @mymenue.find { |menueitem| /#{menueitem.to_s}\Z/.match(request.original_url) } 
    isindexBool = !isindex.nil?
%>
<%  # is the link a show page?
    isshow = @mymenue.find { |menueitem| /#{menueitem.to_s}\/[1-9][0-9]*\Z/.match(request.original_url) }
    isshowBool = !isshow.nil?
%>

<script>
<% if isindexBool || isshowBool %>
      if (window.myRefresh != null) {
        clearTimeout(window.myRefresh);
      }
      window.myRefresh = setTimeout("location.reload(true);",10000);
      //alert(window.myRefresh);
<% else %>
      if (window.myRefresh != null) {
        clearTimeout(window.myRefresh);
      }
      //alert(window.myRefresh);
      window.myRefresh = null;
<% end %>
</script>
	
<ul class="semiopaquemenu">
	<% @mymenue.each do |menueitem| %>
		<% if controller_name == menueitem.to_s || controller_name[1..-1] == menueitem %>
	<li class="active"> <%= link_to menueitem.capitalize, menueitem %></li>|
		<% else %>
	<li>				<%= link_to menueitem.capitalize, menueitem %></li>|
		<% end %>
	
	<% end %>
</ul>

<% if false %>
	<ul class="semiopaquemenu">
		<% if controller_name == 'customers' || controller_name == 'customer'%>
		<li class="active">
		<% else %>
		<li>
		<% end %>
			<%= link_to 'Customers', customers_path %></li>|
			
		<% if controller_name == 'sites' || controller_name == 'site'%>
		<li class="active">
		<% else %>
		<li>
		<% end %>
			<%= link_to 'Sites', sites_path %></li>|
			
		<% if controller_name == 'users' || controller_name == 'user'%>
		<li class="active">
		<% else %>
		<li>
		<% end %>
		<%= link_to 'Users', users_path %></li>|
		
		<% if controller_name == 'provisionings' || controller_name == 'provisioning'%>
		<li class="active">
		<% else %>
		<li>
		<% end %>
			<%= link_to 'Provisioning Tasks', provisionings_path %></li>|
			
		<% if controller_name == 'resourcespools' || controller_name == 'resourcepools'%>
		<li class="active">
		<% else %>
		<li>
		<% end %>
			<%= link_to 'Resource Pools', resourcepools_path %></li>|
	</ul>
<% end%>
<br />


				

<%= yield %>

</body>
</html>
